<section class="mat-typography container">
  <h1>Welcome to TinyTasks!</h1>

  <!-- {{this | json}} -->
  <tiny-task-list [tasks]="tasks" (toggleDone)="onToggleTaskDone($event)" (remove)="onRemoveTask($event)" (taskChange)="onUpdate($event)">
  </tiny-task-list>

  <div class="containerAction">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Add task" [(ngModel)]="newTask.title" (keyup.enter)="add(taskInput.value)"
        #taskInput>
    </mat-form-field>
    <button mat-button color="primary" (click)="add(taskInput.value)">Add</button>

    <button mat-button color="warn" (click)="clear()">Clear All</button>
  </div>
</section>
